.dashboard-container {
    width: 100%;

    .main-wrapper {
        padding-left: var(--base-width-sidebar-full);
        position: relative;
        will-change: auto;
        transition: padding .15s;

        .content-container {
            height: auto;
            margin-bottom: 70px;
            overflow: auto;
        }
    }

    .main-wrapper-collapse {
        padding-left: var(--base-width-sidebar-collapse) !important;
    }
}
