/* You can add global styles to this file, and also import other style files */

//@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
//@import '../../../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
//@import '../../../node_modules/@ng-select/ng-select/themes/default.theme.css';
//@import '../../../node_modules/ngx-toastr/toastr';


@import 'bootstrap/scss/bootstrap';
//@import 'bootstrap/dist/css/bootstrap.css';
//@import 'ngx-bootstrap/datepicker/bs-datepicker.css';
@import 'ngx-toastr/toastr';

//.ngx-toastr {
//    width: 350px !important; // Specify toastr-dialog width for all devices
//}

@import './base/reset';
@import './base/variables';

label.required::after {
    content: '*';
    color: #e32;
    margin-left: 5px;
}
