.sidebar-container {
    min-height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;

    .sidebar-wrapper {
        width: 280px;
    }

    .sidebar-collapse {
        width: 4.5rem;
    }
}

.nav-link {
    color: #fff;
    fill: #fff;
}

.collapse-menu {
    display: flex;
    justify-content: center;
}
